@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 15px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: #f1356d;
}
.navbar a:hover {
  color: #141112;
}
.nav-item a {
  color: #f1356d;
}
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* mail previews / list */
.mail-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.mail-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.mail-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}
.mail-preview a {
  text-decoration: none;
}
.mail-list .pghd {
  font-size: 1.5rem;
  color: #f1356d;
  padding-left: 12px;
  text-align: center;
}
/* mail details page */

.subject-box {
  text-align: left;
  padding-bottom: 20px;
}

.subject-text {
  display: inline-block;
}

.time_n_date {
  /* display: inline-block; */
  float: right;
}

.time_n_date p {
  margin: 0;
}

.name-box h4 {
  font-size: 1.3rem;
  display: inline-block;
  padding-right: 10px;
}

.name-box p {
  text-decoration: none;
  color: grey;
  /* font-size: 0.8rem; */
}

/* .sent-to {
  padding-top: 10px;
  padding-bottom: 10px;
} */

.sent-to h5 {
  font-size: 1.3rem;
  display: inline-block;
  padding-right: 10px;
}

.sent-to p {
  text-decoration: none;
  color: grey;
}
/* 
.mail-text-body {
  padding-top: 20px;
}

.mail-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}*/
.mail-details div {
  margin: 20px 0;
}
.mail-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
} 

/* create new mail form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create textarea {
  height: 200px;
}

.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}